<div class="container">
  <div class="jumbotron text-center mt-2">
    <h1 class="display-5">Custom Bootstarp Ui</h1>
  </div>
  <div class="row custom-wrapper">
    <div class="col-md-12">
      <input type="text" class="form-control" />
      <button type="button" class="btn btn-sm btn-success mb-3 btn-block">
        Add Items
      </button>
      <select class="custom-select">
        <option value="">Choose your city</option>
        <option *ngFor="let city of cities" [ngValue]="city">{{ city }}</option>
      </select>
      <select class="custom-select mt-2" multiple>
        <option value="">Choose your city</option>
        <option *ngFor="let city of cities" [ngValue]="city">{{ city }}</option>
      </select>
      <div class="group-gap">
        <h5 class="mb-3">Gender</h5>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input
              id="male"
              type="radio"
              class="custom-control-input"
              value="male"
              name="gender"
            />
            <label class="custom-control-label" for="male">Male</label>
          </div>

          <div class="custom-control custom-radio">
            <input
              id="female"
              type="radio"
              class="custom-control-input"
              value="female"
              name="gender"
            />
            <label class="custom-control-label" for="female">Female</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
